<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>{{ greeting }} World</title>
  </head>

  <body>
    <h1><u>1.1</u></h1>
    <p>{{ 1 + 6 }}</p>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ greeting }} world!</p>

    <h1><u>1.2</u></h1>
    <input type="text" placeholder="What is your name?" ng-model="name">
    <h1>My name is: {{ name }}</h1>

    <h1><u>1.3</u></h1>
    <select class="animals" name="animals" ng-model="animal">
      <option value="dogs">Dogs</option>
      <option value="cats">Cats</option>
      <option value="dogs and cats">Dogs and Cats</option>
      <option value="neither">Neither</option>
    </select>
    <br>
    <h3>I love {{ animal }}!</h3>

    <h1><u>1.4</u></h1>
    <p>1 + 2 = {{ 1 + 2 }}</p>
    <p>My name is {{ "BoJack" + " " + "Horseman" }}</p>
    <p>the array [99, 43, 22] is {{ [99, 43, 22].length }} items long.</p>
    <p>{{ 3.14159265359 }}</p>
    <p>{{ 3.14159265359 | currency }}</p>
    <p>{{ 3.14159265359 | currency : "&pound" }}</p>
    <br>
    <input type="text" placeholder="Please say something!" ng-model="tone">
    <p>Yelling: <b>{{ tone | uppercase }}</b></p>
    <p>Whispering: <i>{{ tone | lowercase}}</i></p>
    <br>
    <p>{{ 3.14159265359 | number:3 }}</p>
    <p>{{ 3.14159265359 | number:6 }}</p>
    <p>{{ 3.14159265359 | number:1 }}</p>

    <div>
      How many digits of PI do you want?
      <select class="digits" name="digits" ng-model="digits">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
      </select>
      <p>Here are the first {{ digits }}
        <ng-pluralize count="digits"
          when="{'1': 'digit',
            'other': 'digits'}"></ng-pluralize> of PI {{ 3.14159265359 | number:digits }}</p>

    </div>

    <div>
      <h1>angular tip calculator</h1>
      <p>How much was your meal? <input type="text" ng-model="meal"></p>
      <p>How much for a tip?
        <select class="tip" name="tip" ng-model="tip">
          <option value="0.1">10%</option>
          <option value="0.15">15%</option>
          <option value="0.2">20%</option>
          <option value="0.25">25%</option>
        </select>
      </p>
      <p>Subtotal: {{ meal | currency}}</p>
      <p>Tip: {{ meal * tip | currency}}</p>
    </div>

    <div>
      <h1>Angular Madlibs</h1>
      <p>Boy's Name
        <br>
        <input type="text" placeholder="Enther a boy's name .." ng-model="name">
      </p>
      <p>Adjective
        <br>
        <input type="text" placeholder="Enter an adjective .." ng-model="adjective">
      </p>
      <p>plural noun
        <br>
        <input type="text" placeholder="Enter a plural noun .." ng-model="firstNoun">
      </p>
      <p>An insect (plural)
        <br>
        <input type="text" placeholder="Enter a plural insect .." ng-model="insect">
      </p>
      <p>Plural noun
        <br>
        <input type="text" placeholder="Enter a plural noun .." ng-model="secondNoun">
      </p>
      <p>A verb ending in "s"
        <br>
        <input type="text" placeholder="Enter a verb ending in 's'" ng-model="verb">
      </p>
      <p>I'm in love with {{ name | uppercase}}. He's so {{ adjective | uppercase}}! He has big flat {{ firstNoun | uppercase }}, and when our {{ secondNoun | uppercase }} meet, I get {{ insect | uppercase }} in my stomach. I've fallen for him like a ton of {{ verb | uppercase }}, and he shuffles for me too. But I think he's got another girlfriend. What should I do?</p>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>

  </body>

</html>
